+++
title = "中国高校算力年会"
linkTitle = "中国高校算力年会"

+++

{{< blocks/cover title="中国高校算力年会" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">

	<br>
	<br>
	<br>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		会议内容 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		会议相关 <i class="fas fa-cloud-download-alt ml-2 "></i>
	</a>
	<p class="lead mt-5">会议简介</p>

	<br>
	<br>
	<br>
	<br>

	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

<!-- ------------------------------------------------- -->


{{% blocks/lead color="primary" %}}
会议内容简介

{{% /blocks/lead %}}

<!-- ------------------------------------------------------------ -->


{{% blocks/lead color="light" %}}

<div style="text-align: center;">
    <h1>会议基本信息</h1>
</div>

{{% /blocks/lead %}}

{{< blocks/section color="light" >}}

{{% blocks/feature icon="fa-mobile-alt" title="课程名称" %}}
中国高校算力年会
<br>

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-bolt" title="课程性质"  %}}
公共选修课
<br>

<br>

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-database" title="面向对象" %}}
全校本科生
<br>

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-compress-arrows-alt" title="学分学时" %}}
2学分，32学时

<br>



{{% /blocks/feature %}}

{{% blocks/feature icon="fa-certificate" title="开课院系"  %}}
[网络信息中心](https://net.sjtu.edu.cn/)
{{% /blocks/feature %}}

{{% blocks/feature icon="icon-subsonic" title="授课教师"  %}}
张仪方, 王一超
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-heartbeat" title="上课时间" %}}
1-16周

每周二16: 00-17: 40（第9-10节）
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="班级名称"  %}}
AI1108-01
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-comments" title="上课教室"  %}}
东下院308
{{% /blocks/feature %}}

{{< /blocks/section >}}


<!-- ------------------------------------------------------------------- -->

{{% blocks/lead color="black" %}}
以此类推

{{% /blocks/lead %}}




